.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slide {
  position: relative;
  width: 90%;
}

.slide img {
  background-size: cover; /* Podesite veličinu pozadine tako da pokriva celu površinu */
  background-position: center; /* Centrirajte pozadinu */
  height: 80vh; /* Visina elementa će biti visina celog ekrana */
  margin: 0; /* Postavite margine na 0 da bi slika bila lepo prikazana */
  padding: 0; /* Postavite padding na 0 */
  width: 100vw;
  display: flex; /* Koristite flexbox za centriranje sadržaja ako je potrebno */
  justify-content: center; /* Centrirajte sadržaj horizontalno */
  align-items: center; /* Centrirajte sadržaj vertikalno */
}

.slide-text {
  position: absolute;
  bottom: 80px; /* Prilagodite ovaj broj prema potrebi */
  left: 100px;
   /* Prilagodite ovaj broj prema potrebi */
  color: white; /* Boja teksta */
  font-size: 50px; /* Veličina fonta */
  background-color: rgba(0, 0, 0, 0.5); /* Poluprovidna pozadina */
  padding: 10px; /* Razmak unutar kutije za tekst */
}

